@charset "utf-8";

:root{
    --cor01: #422d87;
    --cor02: #573FA6;
    --cor03: #763fa6;
    
}
@media screen and (min-width: 850px) {
    #perfil-tela{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .titulo-projeto{
        display: none;
    }

    .titulos-perfil{
        margin-top: 40px;
       width: 82%;
    }

    #perfil-tela-dividida{
        width: 40%;
    }

    #dados-profile{
        display: inline-block;
        width: 60%;
    }
    
}