{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskHub</title>
    

    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
    <link rel="stylesheet" href="{% static 'css/tasksCreate.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/notificacao.css' %}">
    <link rel="stylesheet" href="{% static 'css/projeto.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/equipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediaQuery/tasks.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediaQuery/projeto.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediaQuery/perfil.css' %}">




    <link rel="icon" type="image/png" href="{% static 'media/icones/prancheta.png'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
</head>

{% include '../partes/__head.html' %}
{% block content %}
{% endblock  %}
{% include '../partes/__footer.html' %}


