@charset "utf-8";

:root{
    --cor01: #422d87;
    --cor02: #573FA6;
    --cor03: #763fa6;
    
}
* { 
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#perfil{
    background-image: linear-gradient(to right,  #8572c3, #ae7dfe);
    height: 110vh;
    padding-top: 10px;
}


#header-perfil{
    text-align: center;
    width: 100%;
    height: 100px;
}
#icone-perfil{
    margin: auto;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #9888d03f;
    margin-top: 15px;
}
#icone-perfil > img{
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

#pessoal-perfil{
    margin-top: 10px;
}
#pessoal-perfil > h4{
    font-size: 24px;
    color: white;
}
#pessoal-perfil > p{
    font-size: 18px;
    color: #200a6b;
}

#editar-perfil{
    text-align: center;
    margin: auto;
    width: 110px;
    padding: 7px;
    color: white;
    background-color: #573fa68b;
    margin-top: 75px;
    border-radius: 20px;
}

.titulos-perfil{
    margin: auto;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #251e3e;
    width: 85%;
}


#projetos-perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
}

#equipes-perfil{
    display: flex;
    background-color: #573fa68b;
    width: 49%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #4d36993d;

}

#tarefas-perfil{
    display: flex;
    background-color: #573fa68b;
    width: 49%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #4d36993d;
}

.icone-projetos-perfil{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: var(--cor01);
    margin-left: 8px;
    margin-top: 17px;
}
.icone-projetos-perfil > img{
    padding-top: 5px;
    padding-left: 5px;


}


#equipe-perfil{
    margin: auto;
    margin-top: 13px;
    text-align: center;
    color: white;
}
#tarefa-perfil{
    margin: auto;
    margin-top: 13px;
    text-align: center;
    color: white;
}

.quantidade-equipes{
    padding: 3px;
    width: 30px;
    margin-top: 3px;
    background-color: rgb(193, 133, 235);
    border-radius: 50px;
    color: rgb(72, 72, 72);
}
.quantidade-tarefas{
    padding: 3px;
    width: 30px;
    margin-top: 3px;
    background-color: rgb(133, 235, 223);
    border-radius: 50px;
    color: rgb(71, 71, 71);
}
#amigos-perfil{
    width: 82%;
    height: 170px;
    overflow-y: scroll;
    margin: auto;
    background-color: #573fa68b;
    box-shadow: 0px 0px 20px #4d36993d;
    border-radius: 10px;
    border: 10px solid #573fa600;
}


.amigo-perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.283);
    margin-bottom: 10px;
   
}


.amigo-avatar{
    margin: 5px;
    margin-right: 0px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.amigo-avatar > img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.amigo-dados{
    margin-top: 3px;
    text-align: center;
    color: white;
}

.amigo-dados > a{
 
    color: white;
}

.amigo-perfil > a > img{
    margin-right: 10px;
}

#logout{
    margin: auto;
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 20px #9888d03f;
    background-image: linear-gradient(to right, var(--cor02), var(--cor03));
}

#logout:hover{
    background-image: linear-gradient(to right, white, white);
    color: var(--cor01);
    border: 2px solid var(--cor01);
}